<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cze">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<style type="text/css" title="currentStyle" media="screen">
    		
	</style>
	{% block head_special %}{% endblock %}
    <title>{% block title %}{{ nazev }}{% endblock %}</title>
</head>
<body>
	<div id="top"><img src="/site_media/images/logo.png" alt="logo"/></div>
	{% block content %}
	{% endblock %}
</body>
</html>